<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :points_percent_flag %><br>
    <%= f.check_box :points_percent_flag %>
  </div>
  <div class="field">
    <%= f.label :sets_percent_flag %><br>
    <%= f.check_box :sets_percent_flag %>
  </div>
  <div class="field">
    <%= f.label :mvp_flag %><br>
    <%= f.check_box :mvp_flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
